In [90]:
import os
import shutil
from threading import Thread
from glob import glob
from subprocess import Popen

import pandas as pd
import numpy as np

import datetime
import time

from features import get_features, perform_backtest

from twitter_stream import twitter_stream
from price_stream import price_stream
from utils.common_utils import get_root_dir, merge_csvs
from process import processor, get_sentiment, clean_further, add_keyword, clean_profile

In [128]:
keywords = pd.read_csv('keywords.csv')

In [58]:
files = glob('data/test/*')

In [59]:
combined = merge_csvs(files)

In [60]:
df = pd.read_csv(combined)

In [62]:
df, user_info = processor(df)

/home/warproxxx/Desktop/Projects/crypto-analysis-live/algorithm/process.py:95: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/warproxxx/Desktop/Projects/crypto-analysis-live/algorithm/process.py:96: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [64]:
len(df)

1236040

In [65]:
len(user_info)

443808

In [71]:
df['Time'].dtype

dtype('int64')

In [72]:
df['ID'].dtype

dtype('int64')

In [123]:
df['Time'] = pd.to_datetime(df['Time'], unit='s')

In [73]:
df = add_keyword(df)

HBox(children=(IntProgress(value=0, description='Pandas Apply', max=1236040, style=ProgressStyle(description_wâ€¦

In [80]:
df['keyword'].value_counts(dropna=False)

BTC       220742
ETH        50106
TRX        26803
XRP        26653
LTC        12940
EOS        10005
MIOTA       5494
LINK        4057
BCHABC      2323
XLM         2244
ADA         1556
ZEC         1418
XMR         1288
BNB         1098
BSV          982
XTZ          826
DASH         595
NEO          571
ETC          361
BTG          171
ZRX           88
OMG           37
ETP           26
SAN           18
Name: keyword, dtype: int64

In [76]:
df = df[df['keyword'] != 'invalid']

In [108]:
df = df.reset_index(drop=True)

In [112]:
df = get_sentiment(df)

/home/warproxxx/Desktop/Projects/crypto-analysis-live/algorithm/process.py:191: FutureWarning:

The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

java -jar /home/warproxxx/Desktop/Projects/crypto-analysis-live/algorithm/utils/SentiStrength.jar sentidata /home/warproxxx/Desktop/Projects/crypto-analysis-live/algorithm/utils/SentiStrength_Data/ input /home/warproxxx/Desktop/Projects/crypto-analysis-live/algorithm/data/temp/tweets

In [114]:
df['pos_neg'].value_counts(dropna=False)

 0    204810
 1     65900
 2     37442
-1     33652
-2     11371
 3      8994
-3      4450
 4      3608
-4       175
Name: pos_neg, dtype: int64

In [116]:
profilefile = 'data/cleaned_profile.csv'

In [117]:
if os.path.isfile(profilefile):
    user_info = pd.concat([user_info, pd.read_csv(profilefile)])
    user_info = clean_profile(user_info)

In [ ]:
df = df.sort_values('Time')
df = df.set_index('Time')
df.index = df.index.ceil(freq='30Min')  
df = df.reset_index()

In [ ]:
coin_name = 'BTC'

In [ ]:
## VERIFYING TIME

In [201]:
pd.Timestamp('2019-08-09 06:01:00').ceil(freq='30Min') #test of ceil

Timestamp('2019-08-09 06:30:00')

In [203]:
price_df = pd.read_csv('data/price/{}.csv'.format(coin_name))

In [210]:
price_df['Time'] = pd.to_datetime(price_df['Time'])

In [221]:
price_df.head(20)

                  Time      Open      High       Low     Close        Volume
0  2019-07-01 00:00:00  10854.10  10883.19  10840.10  10876.07  1.496492e+06
1  2019-07-01 00:01:00  10877.24  10885.57  10853.20  10881.44  1.099121e+06
2  2019-07-01 00:02:00  10880.16  10880.17  10835.00  10835.00  1.574824e+06
3  2019-07-01 00:03:00  10835.02  10840.00  10811.99  10828.56  1.719258e+06
4  2019-07-01 00:04:00  10826.60  10827.97  10775.00  10812.51  1.394439e+06
5  2019-07-01 00:05:00  10812.51  10826.74  10736.05  10736.05  2.634270e+06
6  2019-07-01 00:06:00  10735.78  10787.36  10719.00  10778.28  2.702564e+06
7  2019-07-01 00:07:00  10776.06  10840.00  10770.59  10830.20  1.606807e+06
8  2019-07-01 00:08:00  10825.82  10850.01  10805.70  10831.59  1.361710e+06
9  2019-07-01 00:09:00  10829.84  10870.00  10829.73  10862.75  1.045778e+06
10 2019-07-01 00:10:00  10858.68  10863.00  10815.01  10834.93  1.394856e+06
11 2019-07-01 00:11:00  10834.73  10847.05  10812.17  10840.00  5.408300e+05
12 2019-07-01 00:12:00  10841.06  10956.44  10840.00  10942.09  2.212024e+06
13 2019-07-01 00:13:00  10942.08  10984.32  10892.27  10970.89  3.090581e+06
14 2019-07-01 00:14:00  10971.78  11047.01  10960.12  11003.39  2.609168e+06
15 2019-07-01 00:15:00  11003.43  11035.36  10978.01  10992.50  1.935913e+06
16 2019-07-01 00:16:00  10993.95  11035.00  10978.80  10992.92  1.749922e+06
17 2019-07-01 00:17:00  10987.76  11019.65  10958.16  10976.35  9.279141e+05
18 2019-07-01 00:18:00  10976.64  10995.00  10951.75  10992.50  9.635395e+05
19 2019-07-01 00:19:00  10992.68  11010.00  10970.35  10998.14  8.109871e+05

In [222]:
get_price('BTC', duration='10Min').head(2) #uses the next 10 mins. Manually verifying that

                         Open      High       Low     Close        Volume
Time
2019-07-01 00:10:00  10854.10  10885.57  10719.00  10862.75  1.663526e+07
2019-07-01 00:20:00  10858.68  11047.01  10812.17  10998.14  1.623573e+07

In [223]:
## VERIFIED TIME ##

In [243]:
price_df = get_price('BTC')
tweet_df = df[df['keyword'] == coin_name].drop('keyword', axis=1).reset_index(drop=True)

curr_start = df.iloc[0]['Time']
curr_end = df.iloc[-1]['Time']

In [ ]:
get_features(tweet_df, price_df, )