In [1]:
import pandas as pd
import numpy as np
import csv

from glob import glob
import os
import swifter
import shutil

import tweepy
from ttp import ttp

import time
import datetime
from calendar import timegm

from utils.casIn.user_influence import P,influence
from utils.common_utils import get_root_dir, merge_csvs
from utils.twitter_authentication import *
from utils.profilescraper import profileScraper
from process import create_cascades, processor, process_scraped_profile, get_sentiment

In [2]:
def get_influence(df):
    df = df.reset_index(drop=True)

    p_ij = P(df,r = -0.000068)
    inf, m_ij = influence(p_ij)
    df['inf'] = inf
    df = df[['ID', 'inf', 'cascade']]
    return df

def get_file_name():
    fname = get_root_dir() + '/data/temp/rescraped.csv'

    if os.path.isfile(fname):
        pass
    else:
        # create output file and add header
        with open(fname, 'w') as csvfile:
            writer = csv.writer(csvfile, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
            
            header = ['timestamp','id','text','likes','retweets','username','user_id','user_created_at','in_response_to', 
                      'in_response_to_user_id', 'response_type', 'has_geolocation', 'is_verified', 'total_tweets', 'total_followers', 
                      'total_following', 'total_likes', 'total_lists', 'has_background', 'is_protected', 'default_profile']
            
            writer.writerow(header)
    
    return fname

def write_csv(row_data):
    filename = get_file_name()

    with open(filename, 'a') as csvfile:
        writer = csv.writer(csvfile, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
        writer.writerow(row_data)

def make_tweets(find_id, original):
    #fix this error
    found = original[original['in_response_to_id'] == find_id]
    p = ttp.Parser()
    parsed = p.parse(found.iloc[0]['Tweet'])
    
    current_tweet = {}
    
    current_tweet['ID'] = found.iloc[0].in_response_to_id
    current_tweet['Tweet'] = found.iloc[0].Tweet
    current_tweet['Time'] = found.iloc[0].Time - (found.iloc[1].Time - found.iloc[0].Time)
    try:
        current_tweet['User'] = parsed.users[0]
    except:
        current_tweet['User'] = ''
    current_tweet['Likes'] = 0
    current_tweet['Retweets'] = 0
    current_tweet['in_response_to_id'] = 0
    current_tweet['response_type'] = 'tweet'
    
    return pd.Series(current_tweet)

def rescrape_and_add(original, to_scrape):
    auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_key, access_secret)
    api = tweepy.API(auth)

    print("Rescraping {} tweets".format(len(to_scrape)))
    for i in range(100, len(to_scrape)+100, 100):
        print("{} {}".format(i-100, i))
        
        tweets = api.statuses_lookup(list(to_scrape['index'][i-100:i].values),tweet_mode='extended')
        
        for tweet in     tweets:
            response_type = 'tweet'
            in_response_to = None

            try:
                in_response_to = tweet.in_reply_to_status_id
                in_response_to_user_id = tweet.in_reply_to_user_id_str
            except:
                pass

            if in_response_to == None:
                if hasattr(tweet, 'retweeted_status'):
                    response_type = 'retweet'
                    in_response_to = tweet.retweeted_status.id
                    in_response_to_user_id = tweet.retweeted_status.user._json['id_str'] #probably not required
                else:
                    if hasattr(tweet, 'quoted_status'):
                        response_type = 'quoted_retweet'
                        in_response_to = tweet.quoted_status.id
                        in_response_to_user_id = tweet.quoted_status.user._json['id_str'] #probably not required
                    else:
                        in_response_to = '0'
            else:
                response_type = 'reply'


            tweetText = ''
            try:
                tweetText = tweetText + tweet.extended_tweet['full_text']
            except:
                try:
                    tweetText = tweetText + tweet.full_text
                except:
                    pass

            try:
                tweetText = tweetText + ' <retweeted_status> ' + tweet.retweeted_status.extended_tweet['full_text'] + ' </retweeted_status>'
            except:
                try:
                    tweetText = tweetText + ' <retweeted_status> ' + tweet.retweeted_status.text + ' </retweeted_status>'
                except:
                    pass

            try:
                tweetText = tweetText + ' <quoted_status> ' + tweet.quoted_status.extended_tweet['full_text'] + ' </quoted_status>'
            except:
                try:
                    tweetText = tweetText + ' <quoted_status> ' + tweet.quoted_status.text + ' </quoted_status>'
                except:
                    pass

            if 'urls' in tweet.entities:
                for url in tweet.entities['urls']:
                    try:
                        tweetText = tweetText.replace(url['url'], url['expanded_url'])
                    except:
                        pass

            write_csv([tweet.created_at, tweet.id, tweetText, tweet.favorite_count, tweet.retweet_count,            
            tweet.user.screen_name, tweet.user._json['id_str'], tweet.user._json['created_at'],in_response_to, 
            in_response_to_user_id ,response_type, tweet.user.geo_enabled, tweet.user.verified, tweet.user.statuses_count, 
            tweet.user.followers_count, tweet.user.friends_count, tweet.user.favourites_count, tweet.user.listed_count
            ,tweet.user.profile_use_background_image, tweet.user.protected, tweet.user.default_profile])

    
    rescraped = pd.read_csv(get_root_dir() + '/data/temp/rescraped.csv')
    profile = pd.read_csv(os.path.join(get_root_dir(), 'data/cleaned_profile.csv'))
    
    original['Time'] = pd.to_datetime(original['Time'])

    original['Time'] = original['Time'].astype(int) // 10**9
    rescraped_df, rescraped_profile = processor(rescraped)
    non_existing = to_scrape[~to_scrape['index'].isin(rescraped['id'])]

    virtual_tweets = non_existing['index'].apply(make_tweets, original=original)
    rescraped = pd.concat([virtual_tweets, rescraped_df]).reset_index(drop=True)
    virtual_tweets['User'] = virtual_tweets['User'].str.lower()
    rescrape = virtual_tweets[~virtual_tweets['User'].isin(profile['username'])]
    ps = profileScraper()
    scraped = ps.query_profile(rescrape['User'].values)
    scraped_profile = process_scraped_profile(scraped)

    new_profile = pd.concat([scraped_profile, rescraped_profile, profile]) #clean them seperately before concating
    new_profile = new_profile.drop_duplicates(subset=['username']).reset_index(drop=True)
    new_profile.to_csv(os.path.join(get_root_dir(), 'data/cleaned_profile.csv'), index=None)

    rescraped = get_sentiment(rescraped)
    new_df = pd.concat([original, rescraped])
    new_df = new_df.sort_values('Time')

    return new_df, new_profile

def get_influence(df):
    df = df.reset_index(drop=True)

    p_ij = P(df,r = -0.000068)
    inf, m_ij = influence(p_ij)
    df['inf'] = inf
    df = df[['ID', 'inf', 'cascade']]
    return df

def get_influence_metrics(df):
    curr = {}
    curr['total_tweets'] = len(df)
    curr['total_influence'] = df['inf'].sum()
    curr['avg_influence'] = curr['total_tweets'] / curr['total_influence']
             
    return pd.Series(curr)

def add_influence_and_all(df):
    d = df.groupby('cascade').apply(get_influence)
    d = d.drop_duplicates()
    df = df.merge(d, on='ID')
    df = df.drop('cascade_y', axis=1).rename(columns={'cascade_x':'cascade'})
    new_inf = df.groupby('user_id').apply(get_influence_metrics)

    new_inf = new_inf.reset_index().rename(columns={'user_id': 'username'})
    return new_inf

def add_inf(curr_inf, new_inf):
    combined = new_inf.merge(curr_inf, how='outer', on='username')
    combined = combined.fillna(0)
    combined['total_tweets'] = combined['total_tweets_x'] + combined['total_tweets_y']
    combined['total_influence'] = combined['total_influence_x'] + combined['total_influence_y']
    combined = combined[['username', 'total_tweets', 'total_influence']]
    combined['avg_influence'] = combined['total_influence']/combined['total_tweets']
    combined.sort_values('total_influence', ascending=False)
    
    return combined

In [3]:
dir = get_root_dir()
storagefolder = os.path.join(dir, 'data/storage/all_cleaned')

storagesfiles = glob(storagefolder + "/*")
combined = merge_csvs(storagesfiles)
df = pd.read_csv(combined)

In [4]:
df['Time'] = pd.to_datetime(df['Time'])
df = create_cascades(df)

In [5]:
df = df.sort_values('Time')

In [6]:
counts = df['cascade'].value_counts().reset_index()
ids_count = counts[counts['cascade'] > 3][['index']]
non_existing = ids_count[~ids_count['index'].isin(df['ID'])]

In [7]:
df, profile = rescrape_and_add(df, non_existing)
df = df.merge(profile[['username', 'total_followers']], left_on='User', right_on='username', how='inner')
df = df.rename(columns={'Time': 'time', 'total_followers': 'magnitude', 'User': 'user_id'})
counts = df['cascade'].value_counts().reset_index()

df = df[df['cascade'].isin(counts[counts['cascade'] > 2]['index'])]
oldcascade_file = os.path.join(dir, 'data/storage/old_cascade.csv')
df = df[['ID', 'time', 'magnitude', 'user_id', 'cascade']]

Rescraping 2152 tweets
0 100
100 200
200 300
300 400
400 500
500 600
600 700
700 800
800 900
900 1000
1000 1100
1100 1200
1200 1300
1300 1400
1400 1500
1500 1600
1600 1700
1700 1800
1800 1900
1900 2000
2000 2100
2100 2200

/home/warproxxx/Desktop/Projects/crypto-analysis-live/algorithm/process.py:101: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['timestamp'] = pd.to_datetime(df['timestamp'])
/home/warproxxx/Desktop/Projects/crypto-analysis-live/algorithm/process.py:102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['timestamp'] = df['timestamp'].astype(np.int64) // 10**9

Querying https://twitter.com/hqair
Querying https://twitter.com/marthaauwx97
Querying https://twitter.com/qalqaari
Querying https://twitter.com/reynajareg00
Querying https://twitter.com/arenamatchgold
Querying https://twitter.com/tezos
Querying https://twitter.com/btsv_preview
Querying https://twitter.com/brittneymu96
Querying https://twitter.com/skrillscam
Querying https://twitter.com/bluefiretoken
Querying https://twitter.com/dope_tokens
Querying https://twitter.com/z2007e04
Querying https://twitter.com/iskra_coin
Querying https://twitter.com/soundeo_token
Querying https://twitter.com/griffexco
Querying https://twitter.com/mag_bitnerox
Querying https://twitter.com/russian_coin
Querying https://twitter.com/dcto_erc20token
Querying https://twitter.com/dope_tokens
Querying https://twitter.com/iskra_coin
Got an error scraping: 'NoneType' object is not subscriptable
Querying https://twitter.com/heachogtyan_k
Got an error scraping: 'NoneType' object is not subscriptable
Querying https://twitter.com/ktrachek
Got an error scraping: 'NoneType' object is not subscriptable
Querying https://twitter.com/globalpivx
Got an error scraping: 'NoneType' object is not subscriptable
Querying https://twitter.com/illusion_token
Got an error scraping: 'NoneType' object is not subscriptable
Querying https://twitter.com/griffexco
Got 1 profiles (1 new).
Got 2 profiles (1 new).
Got 3 profiles (1 new).
Got 4 profiles (1 new).
Got 5 profiles (1 new).
Querying https://twitter.com/
Querying https://twitter.com/amytroubod90
Querying https://twitter.com/dcto_erc20token
Querying https://twitter.com/griffexco
Got an error scraping: 'profile_user'
Querying https://twitter.com/target
Got an error scraping: 'profile_user'
Got 6 profiles (1 new).
Got 7 profiles (1 new).
Got 8 profiles (1 new).
Got 9 profiles (1 new).
Got 10 profiles (1 new).
Got 11 profiles (1 new).
Querying https://twitter.com/griffexco
Got an error scraping: 'profile_user'
Querying https://twitter.com/cnns_airdrop
Got an error scraping: 'profile_user'
Querying https://twitter.com/griffexco
Got an error scraping: 'NoneType' object is not subscriptable
Got an error scraping: 'profile_user'
Querying https://twitter.com/oluniyigates
Got an error scraping: 'profile_user'
Querying https://twitter.com/goldcoin_token
Querying https://twitter.com/heachogtyan_k
Got an error scraping: 'profile_user'
Querying https://twitter.com/orionixtoken
Querying https://twitter.com/fullvpsserver
Querying https://twitter.com/crypto_manish
Got 12 profiles (1 new).
Got 13 profiles (1 new).
Got 14 profiles (1 new).
Got 15 profiles (1 new).
Got 16 profiles (1 new).
Got 17 profiles (1 new).
Got 18 profiles (1 new).
Got 19 profiles (1 new).
Querying https://twitter.com/fullvpsserver
Querying https://twitter.com/
Got 20 profiles (1 new).
Got 21 profiles (1 new).
Got an error scraping: 'NoneType' object is not subscriptable
Querying https://twitter.com/
Got an error scraping: 'profile_user'
Querying https://twitter.com/griffexco
Got an error scraping: 'profile_user'
Querying https://twitter.com/iskra_coin
Got an error scraping: 'NoneType' object is not subscriptable
Got an error scraping: 'profile_user'
Querying https://twitter.com/swetatiwari2007
Querying https://twitter.com/
Got 22 profiles (1 new).
Got 23 profiles (1 new).
Got 24 profiles (1 new).
Got 25 profiles (1 new).
Got 26 profiles (1 new).
Got an error scraping: 'NoneType' object is not subscriptable
Querying https://twitter.com/kutixt
Got an error scraping: 'profile_user'
Querying https://twitter.com/p0oxqmckvmfxk3u
Querying https://twitter.com/
Got 27 profiles (1 new).
Got 28 profiles (1 new).
Got 29 profiles (1 new).
Got an error scraping: 'profile_user'
Querying https://twitter.com/
Querying https://twitter.com/
Got an error scraping: 'profile_user'
Querying https://twitter.com/bumblebeeszy
Querying https://twitter.com/
Querying https://twitter.com/alexblackai96
Got 30 profiles (1 new).
Got 31 profiles (1 new).
Got 32 profiles (1 new).
Got 33 profiles (1 new).
Got 34 profiles (1 new).
Got an error scraping: 'profile_user'
Querying https://twitter.com/gold_stellar
Querying https://twitter.com/veronicasg90
Querying https://twitter.com/mc_rashad13
Querying https://twitter.com/
Querying https://twitter.com/
Querying https://twitter.com/bts_twt
Got an error scraping: 'profile_user'
Querying https://twitter.com/
Got 35 profiles (1 new).
Got 36 profiles (1 new).
Got 37 profiles (1 new).
Got 38 profiles (1 new).
Got 39 profiles (1 new).
Got 40 profiles (1 new).
Got 41 profiles (1 new).
Got an error scraping: 'profile_user'
Querying https://twitter.com/
Got an error scraping: 'profile_user'
Querying https://twitter.com/oracleadvocate
Got 42 profiles (1 new).
Got 43 profiles (1 new).
Querying https://twitter.com/acrypto36757
Got an error scraping: 'profile_user'
Querying https://twitter.com/nymtwit
Querying https://twitter.com/zlatan_ibile
Querying https://twitter.com/challengedac
Got an error scraping: 'profile_user'
Got 44 profiles (1 new).
Got 45 profiles (1 new).
Got 46 profiles (1 new).
Got 47 profiles (1 new).
Got 48 profiles (1 new).
Got 49 profiles (1 new).
Got an error scraping: 'profile_user'
Got an error scraping: 'profile_user'
Got an error scraping: 'profile_user'
Got 50 profiles (1 new).
Got 51 profiles (1 new).
Got 52 profiles (1 new).
Got an error scraping: 'profile_user'
Got an error scraping: 'profile_user'
Got an error scraping: 'profile_user'
Got an error scraping: 'profile_user'
Got 53 profiles (1 new).
Got 54 profiles (1 new).
Got 55 profiles (1 new).
Got 56 profiles (1 new).
Got 57 profiles (1 new).
Got 58 profiles (1 new).
Got 59 profiles (1 new).
Got 60 profiles (1 new).
Got 61 profiles (1 new).
Got an error scraping: 'profile_user'
Got an error scraping: 'profile_user'
Got 62 profiles (1 new).
Got 63 profiles (1 new).
Got 64 profiles (1 new).
Got 65 profiles (1 new).
Got 66 profiles (1 new).
Got 67 profiles (1 new).

/home/warproxxx/Desktop/Projects/crypto-analysis-live/algorithm/process.py:199: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  cop.to_csv(tempFile, index=None, header=None)

java -jar /home/warproxxx/Desktop/Projects/crypto-analysis-live/algorithm/utils/SentiStrength.jar sentidata /home/warproxxx/Desktop/Projects/crypto-analysis-live/algorithm/utils/SentiStrength_Data/ input /home/warproxxx/Desktop/Projects/crypto-analysis-live/algorithm/data/temp/tweets

/home/warproxxx/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:155: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [8]:
df

,ID,time,magnitude,user_id,cascade
3,1159811247698825216,1565355524,3465,perrymetzger,1.159797e+18
5,1159819991849590786,1565357609,3465,perrymetzger,1.159818e+18
9,1159868877926477824,1565369264,3465,perrymetzger,1.159868e+18
10,1159869105522036737,1565369318,3465,perrymetzger,1.159869e+18
12,1159870636124246016,1565369683,3465,perrymetzger,1.159870e+18
16,1159873297552744448,1565370318,3465,perrymetzger,1.159873e+18
17,1159874813235728385,1565370679,3465,perrymetzger,1.159875e+18
53,1159924553600184321,1565382538,3465,perrymetzger,1.159924e+18
124,1160190282572414981,1565445893,3465,perrymetzger,1.160190e+18
143,1159881701205708800,1565372321,6976,robustus,1.159797e+18
144,1159945394979315712,1565387507,6976,robustus,1.125462e+18
147,1159847934319419393,1565364271,9188,rwapmon,1.159848e+18
148,1159910544364756994,1565379198,9188,rwapmon,1.159890e+18
149,1160016666992029696,1565404500,9188,rwapmon,9.519893e+17
152,1160078017562959872,1565419127,69117,onemanatatime,1.159849e+18
154,1160120679267622912,1565429298,69117,onemanatatime,1.160121e+18
156,1159884477817974785,1565372983,28592,real_vijay,1.159882e+18
157,1159889117196386305,1565374089,28592,real_vijay,1.159889e+18
158,1159899631486033920,1565376596,28592,real_vijay,1.159884e+18
160,1159909425106173953,1565378931,28592,real_vijay,1.159909e+18
229,1159722731522285569,1565334420,1644587,justinsuntron,1.159723e+18
232,1159782459933724672,1565348660,1644587,justinsuntron,1.159782e+18
233,1159789861374779392,1565350425,1644587,justinsuntron,1.159787e+18
234,1159926292898299904,1565382953,1644587,justinsuntron,1.159900e+18
235,1159929046706335744,1565383609,1644587,justinsuntron,1.159926e+18
237,1160029920841490432,1565407660,1644587,justinsuntron,1.160030e+18
238,1160063816098410497,1565415741,1644587,justinsuntron,1.160064e+18
239,1160101440653680640,1565424711,1644587,justinsuntron,1.160101e+18
256,1159866128102903813,1565368608,15070,bascule,1.121857e+18
257,1159968631528144897,1565393047,15070,bascule,1.159853e+18
...,...,...,...,...,...
166545,1160339811972124677,1565481543,203,telepatrol,1.160168e+18
166546,1160339815826542598,1565481544,150,tmoiv,1.160168e+18
166550,1160339826291331073,1565481547,494,yangbermas,1.160331e+18
166551,1160339831785848832,1565481548,290,maryrose_lu,1.160331e+18
166553,1160339834692603904,1565481549,92,djnicholson77,1.160168e+18
166554,1160339839323127808,1565481550,446,ddurbin617,1.160168e+18
166555,1160339841609064449,1565481550,15,christysteng,1.160168e+18
166556,1160339843529883648,1565481551,67,triden,1.160168e+18
166557,1160339849121030144,1565481552,110,sam_perri,1.160168e+18
166558,1160339854082924545,1565481553,174,theamerican78,1.160168e+18
166559,1160339853050961920,1565481553,101,yungestglex,1.160168e+18
166560,1160339854464626694,1565481554,28,babrownie3000,1.160168e+18
166561,1160339867315965952,1565481557,21,captantic,1.160168e+18
166562,1160339880817258496,1565481560,6,ben_boozled,1.160168e+18
166563,1160339893589073922,1565481563,129,whoda123,1.160168e+18
166564,1160339897594593281,1565481564,631,icucjgarcia,1.160168e+18
166565,1160339922609463296,1565481570,122,nofearandfree,1.160168e+18
166566,1160339926560464896,1565481571,9,802vermont802vt,1.160168e+18
166567,1160339932248006668,1565481572,25,jamiejg518,1.160168e+18
166568,1160339940384759808,1565481574,0,fumikos06952956,1.143342e+18
166569,1160339941617836032,1565481574,1,scmaryoh,1.160331e+18
166570,1160339942494625792,1565481575,619,dothedrew123,1.160168e+18
166571,1160339948031172608,1565481576,341,girl_designer,1.160168e+18
166572,1160339963143249922,1565481579,22,tony_graff,1.160168e+18
166573,1160339965601099776,1565481580,76,cdmm420,1.160168e+18
166575,1160339985330925568,1565481585,132,rachgee_,1.160168e+18
166577,1160339999327342592,1565481588,91,wamike5,1.160251e+18
166578,1160340017392345088,1565481592,166,dixondaylin54,1.160168e+18
166579,1160340016993906689,1565481592,207,ecdietri,1.160257e+18
166580,1160340024375820288,1565481594,15,therealjcpete,1.160168e+18

In [9]:
oldcascade_file

'/home/warproxxx/Desktop/Projects/crypto-analysis-live/algorithm/data/storage/old_cascade.csv'

In [10]:
#check this later
if os.path.isfile(oldcascade_file):
    old_file = pd.read_csv(oldcascade_file)
    old_file = old_file[old_file['cascade'].isin(df['cascade'])]
    df.to_csv(oldcascade_file, index=None)

    df = pd.concat([df, old_file])
    df = df.reset_index()
else:
    df.to_csv(oldcascade_file, index=None)

In [11]:
new_inf = add_influence_and_all(df)

In [12]:
storagesfiles

['/home/warproxxx/Desktop/Projects/crypto-analysis-live/algorithm/data/storage/all_cleaned/all_cleaned_1567308546.csv']

In [14]:
curr_inf = pd.read_csv(os.path.join(dir, 'data/userwise_influence.csv'))

In [15]:
combined_inf = add_inf(curr_inf, new_inf)

In [16]:
old_file

NameError: name 'old_file' is not defined

In [21]:
curr_inf

               username  total_tweets  total_influence  avg_influence
0       i_amcrypto_king        2500.0     60171.739664      24.068696
1              imise154         342.0     30164.501341      88.200296
2            cz_binance         260.0     22844.715967      87.864292
3               binance         318.0     22421.738265      70.508611
4          bitcoinagile         274.0     21450.288384      78.285724
5         justinsuntron         135.0     19219.000000     142.362963
6       guccikassandraa           2.0     16019.783086    8009.891543
7            beyscousin           2.0     15998.866419    7999.433209
8              ruesdice           3.0     15994.433337    5331.477779
9          karriethedon           4.0     15994.126369    3998.531592
10             novlvssa           1.0     15965.909247   15965.909247
11          annikarut13           2.0     15904.000000    7952.000000
12        marswithstars           2.0     15249.495262    7624.747631
13               xd17ma         574.0     15040.791110      26.203469
14           fjgarciaaa           2.0     14418.801967    7209.400984
15          angelkithes           3.0     14048.619432    4682.873144
16       wolfofcrypto89         641.0     13934.533077      21.738741
17      blacktradelines         230.0     12871.714883      55.963978
18            maxkeiser         287.0     12205.531028      42.527983
19       stylist_crypto         263.0     11302.338882      42.974673
20      remi_vladuceanu         398.0     10433.198213      26.214066
21              c00lnat           2.0     10378.763604    5189.381802
22         thetacit1101         678.0     10007.351848      14.760106
23          whale_alert         573.0      9965.135009      17.391161
24           mccapitalv         797.0      9764.437065      12.251489
25          paulkilanko          65.0      9720.923483     149.552669
26             ijanis51          75.0      9413.538010     125.513840
27      macalonzomha671        1652.0      8577.309491       5.192076
28          cryptotytan          52.0      8137.163415     156.483912
29             daro3612         810.0      7760.498255       9.580862
...                 ...           ...              ...            ...
348923        marjessa4           1.0         1.000000       1.000000
348924        freddy_jc           1.0         1.000000       1.000000
348925     freddyyork88           1.0         1.000000       1.000000
348926     fredebenvina           1.0         1.000000       1.000000
348927       shreyas983           1.0         1.000000       1.000000
348928  fredericbeaupre           1.0         1.000000       1.000000
348929     shreyans2788           1.0         1.000000       1.000000
348930      frederichie           1.0         1.000000       1.000000
348931  shreyadhoundial           1.0         1.000000       1.000000
348932  marjolaineviret           1.0         1.000000       1.000000
348933  freddy_fred1084           1.0         1.000000       1.000000
348934   frecklefacehan           1.0         1.000000       1.000000
348935  shriramkrishnan           1.0         1.000000       1.000000
348936        fred1boot           1.0         1.000000       1.000000
348937     fred51984689           1.0         1.000000       1.000000
348938         fred9455           1.0         1.000000       1.000000
348939  shrishtripath18           1.0         1.000000       1.000000
348940       shrishthi4           1.0         1.000000       1.000000
348941  marjoriermartin           1.0         1.000000       1.000000
348942    fred_gspoerer           1.0         1.000000       1.000000
348943   shriramemahesh           1.0         1.000000       1.000000
348944        freddotdz           1.0         1.000000       1.000000
348945  fredcar21691250           1.0         1.000000       1.000000
348946  marjori86691698           1.0         1.000000       1.000000
348947      shrimpville           1.0         1.000000       1.000000
348948       freddie72t           1.0         1.000000       1.000000
348949       freddiecee           1.0         1.000000       1.000000
348950     freddieyours           1.0         1.000000       1.000000
348951      freddmannen           1.0         1.000000       1.000000
348952       natboogie_           1.0         1.000000       1.000000

[348953 rows x 4 columns]

In [22]:
new_inf[new_inf['username'] == 'imise154']

       username  total_tweets  total_influence  avg_influence
33787  imise154           7.0        10.262663       0.682084

In [23]:
combined_inf[combined_inf['username'] == 'imise154']

       username  total_tweets  total_influence  avg_influence
33787  imise154         349.0     30174.764004      86.460642

In [24]:
#right now test substraction

In [32]:
def sub_inf(combined_inf, to_remove):
    combined = combined_inf.merge(to_remove, how='outer', on='username')
    combined = combined.fillna(0)
    combined['total_tweets'] = combined['total_tweets_x'] - combined['total_tweets_y']
    combined['total_influence'] = combined['total_influence_x'] - combined['total_influence_y']
    combined = combined[['username', 'total_tweets', 'total_influence']]
    combined['avg_influence'] = combined['total_influence']/combined['total_tweets']
    combined['avg_influence'] = combined['avg_influence'].fillna(0)
    combined.sort_values('total_influence', ascending=False)
    
    return combined

In [33]:
sub_inf(combined_inf, new_inf)

               username  total_tweets  total_influence  avg_influence
0                007_bh           0.0         0.000000       0.000000
1                007djr           2.0         2.000312       1.000156
2             007lexus2          13.0        14.057925       1.081379
3             007whodat           0.0         0.000000       0.000000
4          007wiredaces           0.0         0.000000       0.000000
5             00brooksy           0.0         0.000000       0.000000
6            00iamgru00           5.0        10.470244       2.094049
7       00obscuredviews          11.0        14.482327       1.316575
8                 00r8r           0.0         0.000000       0.000000
9          00whiteout00           0.0         0.000000       0.000000
10           01001001_i          34.0        53.243407       1.565983
11      01010110011010l           0.0         0.000000       0.000000
12              013padz           0.0         0.000000       0.000000
13             01dnight           0.0         0.000000       0.000000
14               01sjp1           2.0         2.034317       1.017159
15              01surge          22.0        23.106961       1.050316
16              0213_06           0.0         0.000000       0.000000
17            021_beans           0.0         0.000000       0.000000
18        0221petermike           0.0         0.000000       0.000000
19      022bee9ce9e94a3           0.0         0.000000       0.000000
20            02_sochie           0.0         0.000000       0.000000
21              02aisha           0.0         0.000000       0.000000
22            02cobrien           0.0         0.000000       0.000000
23            02slinger           0.0         0.000000       0.000000
24            032810cyw           0.0         0.000000       0.000000
25            0369gunny           0.0         0.000000       0.000000
26            03_option           0.0         0.000000       0.000000
27            03bushlog           0.0         0.000000       0.000000
28           03hannah11           0.0         0.000000       0.000000
29              03lefty           0.0         0.000000       0.000000
...                 ...           ...              ...            ...
419517     omide_violet           1.0         1.000000       1.000000
419518        marjessa4           1.0         1.000000       1.000000
419519        freddy_jc           1.0         1.000000       1.000000
419520     freddyyork88           1.0         1.000000       1.000000
419521     fredebenvina           1.0         1.000000       1.000000
419522       shreyas983           1.0         1.000000       1.000000
419523  fredericbeaupre           1.0         1.000000       1.000000
419524     shreyans2788           1.0         1.000000       1.000000
419525      frederichie           1.0         1.000000       1.000000
419526  shreyadhoundial           1.0         1.000000       1.000000
419527  marjolaineviret           1.0         1.000000       1.000000
419528  freddy_fred1084           1.0         1.000000       1.000000
419529   frecklefacehan           1.0         1.000000       1.000000
419530  shriramkrishnan           1.0         1.000000       1.000000
419531        fred1boot           1.0         1.000000       1.000000
419532     fred51984689           1.0         1.000000       1.000000
419533         fred9455           1.0         1.000000       1.000000
419534  shrishtripath18           1.0         1.000000       1.000000
419535       shrishthi4           1.0         1.000000       1.000000
419536  marjoriermartin           1.0         1.000000       1.000000
419537   shriramemahesh           1.0         1.000000       1.000000
419538        freddotdz           1.0         1.000000       1.000000
419539  fredcar21691250           1.0         1.000000       1.000000
419540  marjori86691698           1.0         1.000000       1.000000
419541      shrimpville           1.0         1.000000       1.000000
419542       freddie72t           1.0         1.000000       1.000000
419543       freddiecee           1.0         1.000000       1.000000
419544     freddieyours           1.0         1.000000       1.000000
419545      freddmannen           1.0         1.000000       1.000000
419546       natboogie_           1.0         1.000000       1.000000

[419547 rows x 4 columns]